body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
    font-size: 16px;
}


/* -------------- Navigation Bar ----------------------------*/

nav {
    background: #001a33;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 18px 32px 0 18px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    
}
 
nav ul a {
    text-decoration: none;
    color: #fffff;
}

nav a:visited {
    color: silver;
}

nav ul a:hover {
    text-decoration: underline;
}

/* ---------------------------HERO SECTION -----------------*/
header {
    background: #001a33;
    color: #fff;
    padding: 48px;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 48px;
}

header img {
    width: 300px;
    background: grey;
}

.bio {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    margin: 0;
}

.bio h1 {
    font-size: 40px;
    margin: 0;
}

.bio p {
    opacity: 70%;
    margin: 0;
    margin-bottom: 16px;
}

.signup {
    font-size: 16px;
    width: fit-content;
    padding: 6px 10px;
    background-color: #0598ce;
    color:#fff;
    font-weight: 500px;
    border-radius: 5%;
    border: none;
}