body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
    font-size: 16px;
}


/* -------------------------- Navigation Bar ----------------------------*/

nav {
    background: #001a33;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px 48px 0 48px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    
}
 
nav ul a {
    text-decoration: none;
    color: #ffff;
}

nav a:visited {
    color: rgb(210, 209, 209);
}

nav ul a:hover {
    text-decoration: underline;
}

/* ------------------------ HERO SECTION -----------------*/
header {
    background: #001a33;
    color: #f9fAf8;
    padding: 48px;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 48px;
}

header img {
    width: 300px;
    background: grey;
}

.bio {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    margin: 0;
}

.bio h1 {
    font-size: 48px;
    margin: 0;
    font-weight: bolder;
}

.bio p {
    opacity: 70%;
    margin: 0;
    margin-bottom: 16px;
}

.signup {     /*------ formatting for both buttons-------- */
    font-size: 16px;
    width: fit-content;
    padding: 6px 10px;
    background-color: #3882f6;
    color:#fff;
    font-weight: 500px;
    border-radius: 5%;
    border: none;
}

/* ------------------------- Section One -------------------------*/

.section1 {
    font-weight: light;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 img {
    border: 3px solid #0598ce;
    border-radius: 12%;
    width: 100px;
    height: 100px;
    margin-bottom: 0;
}

.snapshots {
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    margin: 32px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
}

/*------------------------ Section Two (Quote) ---------------------------*/
.quote-container {
    background-color: #d7d6d6;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.quote {
    display: flex;
    width: 550px;
    font-style: italic;
}

.quote p {
    margin-bottom: 0;
}

.signature {
    margin-left: auto;
    margin-right: 250px;
}

/* ------------------------ Call to Action -------------------------------*/

.cta {
    border: solid 4px black;
    background-color: #3882f6;
    color: #fff;
}




/* ----------------------------- Footer --------------------------------- */

footer {
    background: #001a33;
    color: #f9fAf8;
    display: flex;
    align-items: center;
    justify-content: center;
}